.square {
    background: white;
}
.grid {
    background: black;
    display: grid;
    padding: 2px;
    grid-gap: 2px;
    width: 604px;
    height: 604px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.mole {
    background-image: url(images/mole.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center 125%;
}